@import '../variables.scss';

.iconbar {
  ul {
    display: flex;
    justify-content: space-between;
    padding: 0 22px;
  }
  li {
    height: 24px;
    width: 24px;
  }
  img,
  svg {
    height: 24px;
    width: 24px;
  }
  svg {
    color: #fff;
  }
  // Tablet+ layout
  @media (min-width: $tablet) {
    ul {
      display: initial;
      float: right;
      li {
        display: inline-block;
        margin: -2px 0 0 12px;
      }
    }
    .tablet_hide {
      display: none;
    }
  }
}
