@import '../variables.scss';

nav {
  height: 56px;
  background-color: $secondary;
  position: fixed; // sticky at base for mobile
  width: 100%;
  bottom: 0;
  margin: 0;
  padding: 0;

  // Tablet+ layout
  @media (min-width: $tablet) {
    // places nav and iconbar at top of page from tablet width onwards
    position: initial;
    bottom: unset;
    border-top: 1px solid #000;
  }

  .todo_msg {
    display: none;
  }
  @media (min-width: $desktop) {
    // TODO - Desktop layout
    // and make this layout work for older legacy browsers
    // (asuming mobile now all use modern CSS) and use basic CSS 2/3
    border-top: 4px solid green;
    border-bottom: 4px solid green;
    .todo_msg {
      display: block;
      color: #fff;
    }
    #menu_toggle {
      display: none;
    }
  }
}
