@import '../variables.scss';

nav {
  height: 86px;
  // overflow: hidden;
  background-color: $secondary;
  position: fixed;
  width: 100%;
  bottom: 0; // sticky at base for mobile
  @media (min-width: $tablet) {
    position: unset;
  }

  ul.main_nav {
    margin: 0;
    padding: 0;
    position: absolute; // positions above base iconbar
    bottom: 86px;
    min-height: 400px;
    background-color: $grey;
    width: 100%;

    li:first-child {
      display: none; // hides Home. keep in List as useful for accessibility
    }
    a {
      color: #fff;
      text-decoration: none;
      @media (min-width: $desktop) {
        img {
          display: none;
        }
      }
    }
  }

  @media (min-width: $desktop) {
    // TODO - Desktop layout
    // and make this layout work for older legacy browsers
    // (asuming mobile now all use modern CSS) and use basic CSS 2/3
    border: 10px solid green;
  }
}

.iconbar {
  li {
    display: inline;
  }
  img,
  svg {
    height: 40px;
    width: 40px;
  }
  svg {
    color: #fff;
  }
}
