#video_list {
  ul {
    border: 1px solid #aaa;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  .video_container {
    border: 1px solid #aaa;
    padding: 1em;
    margin: 1em;
  }
}
