@import './variables.scss';

// Own styles, avoiding using a CSS library

// zero out styles and add some refinements
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 12px;
  font-weight: 500;
}

html,
body {
  margin-bottom: 0;
}

p {
  line-height: 1.8;
}

h6 {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
}

button {
  background-color: $gcn_red;
  color: #fff;
  font-size: 17px;
  padding: 12px 16px;
  margin: 8px 0 16px;
  display: block;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  min-width: 112px;
  max-width: 200px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #900004;
  }
}
