// Variables

// Colours
$gcn_red: #c30006;

$primary: $gcn_red;
$secondary: #000;

// Responsive min Breakpoints
$small: 375px; // width for iphone6 as baseline
$mobile: 667px; // iphone6 in landscape (and up)
$desktop: 1200px; // large monitors etc
