// Variables and other helpers

// Colours
$gcn_red: #c30006;

$primary: $gcn_red;
$secondary: #000;
$grey: #404040;

// Responsive min Breakpoints
$mobile: 375px; // width for iphone6 as baseline
$tablet: 667px; // iphone6 in landscape (and up for tablets etc)
$desktop: 1200px; // large monitors etc

// container size for fullscreen
.container {
  @media (min-width: 1200px) {
    width: 1200px;
    display: block;
    margin: 0 auto;
  }
}

.todo {
  color: green;
  font-size: 18px;
  font-weight: 700;
}
