@import '../variables.scss';

// helper styles

.hide {
  display: none;
}

.main_content {
  padding-top: 44px;
  // Tablet+ layout
  @media (min-width: $tablet) {
    padding-top: 120px;
  }
}

.let_scroll {
  .main_content {
    padding-top: 44px;
    // Tablet+ layout
    @media (min-width: $tablet) {
      padding-top: 44px;
    }
  }
}
